---
import Person from "../../icons/Person.astro";
---

<section class="grid gap-6 scroll-mt-20" id="sobre-mi">
  <h2>
    <Person /> ¿Quién soy?
  </h2>

  <article class="prose prose-invert text-slate-300">
    <p>
      Soy Juan Diego Villar Hernandez,
      <span class="text-sky-500 font-semibold">
        Tecnólogo en Análisis y Desarrollo de Sistemas de Información,
      </span> tengo 25 años, soy colombiano y resido actualmente en Chile.
    </p>

    <p>
      <span class="text-sky-500 font-semibold">
        Mantengo un enfoque equilibrado en mi vida,
      </span> combinando el crecimiento personal y profesional con hábitos saludables.
      Hago ejercicio regularmente para contrarrestar las largas horas frente al computador,
      lo que me ayuda a mantenerme en óptimas condiciones.
    </p>

    <p>
      A lo largo de mi carrera
      <span class="text-sky-500 font-semibold">
        he adquirido conocimientos y habilidades
      </span> que me permiten enfrentar los desafíos laborales, valorando el trabajo
      en equipo y la comunicación efectiva para alcanzar los objetivos.
    </p>

    <i class="text-white">
      "Mi objetivo siempre ha sido claro: convertirme en programador senior,
      obtener un empleo de calidad y brindar un futuro mejor a mi familia."
    </i>
  </article>

  <picture></picture>
</section>
