---
import { certificados } from "../../constants/data";
import Linked from "../../icons/Linked.astro";
import School from "../../icons/School.astro";
---

<section class="grid gap-6 scroll-mt-20" id="certificados">
  <h1 class="text-3xl font-bold tracking-tight text-white">
    <School class="inline w-12" /> Certificados
  </h1>

  <article
    class="relative grid p-6 rounded-lg bg-slate-900/30 ring-1 ring-white/20"
  >
    {
      certificados.map(({ title, href, subtitle }) => (
        <a
          class="py-3 font-semibold text-green-400/90 hover:text-green-500 hover:translate-x-2 transition group"
          href={href}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Linked class="inline w-4" />
          {title}

          <span class="block text-xs text-slate-400 mt-1 group-hover:text-slate-300">
            {subtitle}
          </span>
        </a>
      ))
    }
  </article>
</section>

<style>
  article {
    @apply before:absolute before:my-auto before:top-0 before:bottom-0 before:right-1/4 before:bg-green-400 before:rounded-full before:size-44 before:blur-3xl;
  }
</style>
