---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import About from "../components/sections/About.astro";
import Certifications from "../components/sections/Certifications.astro";
import Experience from "../components/sections/Experience.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Porfolio Juan D. Villar | Desarrollador Web FullStack">
  <Header />
  <main class="relative pt-12 max-w-screen-lg mx-auto grid gap-y-36">
    <Hero />
    <Social />
    <Experience />
    <Projects />
    <About />
    <Skills />
    <Certifications />
    <Footer />
  </main>
</Layout>
