---
import AllProjects from "../components/AllProjects.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Porfolio Juan D. Villar | Desarrollador Web FullStack">
  <main class="relative pt-12 max-w-screen-lg mx-auto grid gap-y-36">
    <AllProjects />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </main>
</Layout>
